{% load django_bootstrap5 %}
{% bootstrap_css %}
<form action="{% url 'calzados_buscar' %}" method="GET">
    
    {% csrf_token %}

    <div class="mb-4">
        {% bootstrap_field formulario.buscarTalla show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.buscarMarca show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.buscarColor show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.buscarMaterial show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.buscarPrecioMax show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.buscarPrecioMax.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    {% bootstrap_button "Buscar" button_type="submit" button_class="btn-primary" %}
</form>
 