{% load bootstrap_icons %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Calzado: {{ calzado.producto.nombre }}</h2>
        <h5 class="card-subtitle mb-2 text-muted">Vendedor: {{ calzado.producto.vendedor.username }}</h5>
        <p class="card-text"><strong>Estado:</strong> {{ calzado.producto.estado }}</p>
        <p class="card-text"><strong>Precio:</strong> ${{ calzado.producto.precio }}</p>
        <p class="card-text"><strong>Descripción:</strong> {{ calzado.producto.descripcion }}</p>
        <p class="card-text"><strong>Talla:</strong> {{ calzado.talla }}</p>
        <p class="card-text"><strong>Marca:</strong> {{ calzado.marca }}
            <div class="mb-2">
                <button type="button" class="btn btn-outline-primary">
                    <a href="{% url 'calzados_actualizar_marca' calzado.id %}" class="text-decoration-none">
                        <span>{% bs_icon 'pencil' %}</span>
                    </a>
                </button>
            </div>
        </p>
        <p class="card-text"><strong>Color:</strong> {{ calzado.color }}</p>
        <p class="card-text"><strong>Material:</strong> {{ calzado.material }}</p>
        <h4 class="mt-3">Categorías:</h4>
        <ul class="list-group">
            {% for categoria in calzado.producto.categorias %}
                <li class="list-group-item">
                    {{ categoria.categoria.nombre }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row btn-group p-3">
        <div class="mb-2">
            <button type="button" class="btn btn-outline-primary">
                <a href="{% url 'calzados_editar' calzado.id %}" class="text-decoration-none">
                    <span>{% bs_icon 'pencil' %}</span>
                </a>
            </button>
        </div>
        <div class="mb-2">
            <form action="{% url 'calzados_eliminar' calzado.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger" onclick="return confirm('¿Seguro que quieres eliminar esta compra?')" type="submit">
                    <span>{% bs_icon 'trash' %}</span>
                </button>
            </form>
        </div>
    </div>
</div>
