{% load django_bootstrap5 %}
{% bootstrap_css %}

<form action="{% url 'calzados_crear' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-4">
        {% bootstrap_field form.talla show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field form.marca show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field form.color show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field form.material show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field form.vendedor show_label=True %}
    </div>

    {% bootstrap_button "Guardar" button_type="submit" button_class="btn-primary" %}
</form>
