{% load django_bootstrap5 %}
{% bootstrap_css %}
<form action="{% url 'muebles_buscar' %}" method="GET">
    
    {% csrf_token %}
    <div>
        {% bootstrap_field formulario.buscarNombre show_label=True %}
    </div>
        
    <div class="mb-4">
        {% bootstrap_field formulario.buscarMaterial show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.buscarAnchoMin show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.buscarAnchoMax show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.buscarAltoMin show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.buscarAltoMax show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.buscarProfundidadMin show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.buscarProfundidadMax show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.buscarPesoMax show_label=True %}
    </div>

    {% bootstrap_button "Buscar" button_type="submit" button_class="btn-primary" %}

</form>