{% load django_bootstrap5 %}
{% bootstrap_css %}

<form action="{% url 'muebles_crear' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-4">
        {% bootstrap_field formulario.material show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.ancho show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.alto show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.profundidad show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.peso show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.producto show_label=True %}
    </div>

    {% bootstrap_button "Guardar" button_type="submit" button_class="btn-primary" %}
</form>

