{% load django_bootstrap5 %}
{% bootstrap_css %}

<form action="{% url 'muebles_crear' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-4">
        {% bootstrap_field form.material show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field form.ancho show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field form.alto show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field form.profundidad show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field form.peso show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field form.producto show_label=True %}
    </div>

    {% bootstrap_button "Guardar" button_type="submit" button_class="btn-primary" %}
</form>

