{% load bootstrap_icons %}
{% load static %}
<script type="text/javascript" src="{%static 'eliminar.js'%}"></script>
{% load bootstrap_icons %}
<div class="card h-100 mb-4">
    <div class="card-body">
        <h2 class="card-title">Valoración de {{ valoracion.usuario.username }}</h2>
        <p class="card-text"><strong>Productos de compra asociada:</strong></p>
        <ul class="list-group list-group-flush">
            {% for producto in valoracion.compra.producto.all %}
                <li class="list-group-item">
                    {{ producto.nombre }} - ${{ producto.precio }}
                </li>
            {% empty %}
                <li class="list-group-item">
                    No hay productos asociados a esta valoración.</li>
            {% endfor %}
        </ul>
        <p class="card-text"><strong>Puntuación:</strong> {{ valoracion.puntuacion }} / 5
            {%if request.session.usuario.rol != 3 %}
                <button type="button" class="btn btn-outline-primary">
                    <a href="{% url 'valoraciones_actualizar_puntuacion' valoracion.id %}" class="text-decoration-none">
                        <span>{% bs_icon 'pencil' %}</span>
                    </a>
                </button>
            {% endif %}
        </p>
        <p class="card-text"><strong>Comentario:</strong> {{ valoracion.comentario|default:"Sin comentarios" }}</p>
    </div>
    
    {%if request.session.usuario.rol != 3 %}
        <div class="row btn-group p-3">
            <div class="mb-2">
                <button type="button" class="btn btn-outline-primary">
                    <a href="{% url 'valoraciones_editar' valoracion.id %}" class="text-decoration-none">
                        <span>{% bs_icon 'pencil' %}</span>
                    </a>
                </button>
            </div>
            <div class="mb-2">
                <form action="{% url 'valoraciones_eliminar' valoracion.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" onclick="return confirm('¿Seguro que quieres eliminar esta valoración?')" type="submit">
                        <span>{% bs_icon 'trash' %}</span>
                    </button>
                </form>
            </div>
        </div>
    {% endif %}

</div>
