{% load django_bootstrap5 %}
{% bootstrap_css %}
<div>
    <form class="d-flex" action="{% url 'productos_buscar_simple' %}"role="search" method="GET">
        <input name="textoBusqueda" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-light btn-outline-dark" type="submit">Search</button>
      </form>
    </form>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="nav-link" href="{% url 'productos_crear' %}">Crear Producto</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="nav-link" href="{% url 'lista_mejorada' %}">Lista Mejorada</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="nav-link" href="{% url 'productos_buscar' %}">Buscar Productos</a>
                    </h5>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="nav-link" href="{% url 'compras_listar' %}">Compras</a>
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="nav-link" href="{% url 'compras_crear' %}">Crear compra</a>
                    </h5>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="nav-link" href="{% url 'valoraciones_listar' %}">Valoraciones</a>
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="nav-link" href="{% url 'valoraciones_crear' %}">Crear valoracion</a>
                    </h5>
                </div>
            </div>
        </div>
</div>