{% extends "principal.html" %}

{%block cabecera%}

<h2>Enlaces</h2>
{% endblock %}

{%block contenido%}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="nav-link" href="{% url 'categoria_buscar' %}">Buscar categoría</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="nav-link" href="{% url 'producto_buscar' %}">Buscar producto</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                <a class="nav-link" href="{% url 'producto_crear' %}">Crear producto</a>
                </h5>
            </div>
            </div>
        </div>
        {% if request.user.rol == 1 %}
        {% comment %}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="nav-link" href="{% url 'calzado_buscar' %}">Buscar calzado</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="nav-link" href="{% url 'mueble_buscar' %}">Buscar mueble</a>
                    </h5>
                </div>
            </div>
        </div>
         <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="nav-link" href="{% url 'consola_buscar' %}">Buscar consola</a>
                    </h5>
                </div>
            </div>
        </div>
        {% endcomment %}
        <div class="col-md-3">
            <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                <a class="nav-link" href="{% url 'categoria_crear' %}">Crear categoría</a>
                </h5>
            </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
