<div class="menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Tienda</a>
        <button class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarNav" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="btn btn-outline-warning" href="{% url 'login' %}">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-warning" href="{% url 'registrar_usuario' %}">
                            Registrarse
                        </a>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-outline-warning">Log Out</button>
                        </form>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Información de usuario
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li class="dropdown-item">Nombre de usuario: {{ request.user.username }}</li>
                            <li class="dropdown-item">Correo electrónico: {{ request.user.email }}</li>
                            {% if request.user.rol == 2 %}
                                <li class="dropdown-item">Nombre: {{ request.user.comprador.nombre }}</li>
                                <li class="dropdown-item">Apellidos: {{ request.user.comprador.apellidos }}</li>
                            {% elif request.user.rol == 3 %}
                                <li class="dropdown-item">Razón Social: {{ request.user.vendedor.razonSocial }}</li>
                                <li class="dropdown-item">Dirección Fiscal: {{ request.user.vendedor.direccionFiscal }}</li>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
