{% load django_bootstrap5 %}
{% bootstrap_css %}

<form action="{% url 'compras_crear' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-4">
        {% bootstrap_field form.comprador show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field form.fecha_compra show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field form.total show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field form.garantia show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field form.producto show_label=True %}
    </div>

    {% bootstrap_button "Guardar" button_type="submit" button_class="btn-primary" %}
</form>
