<div class="card">
    <div class="card-body">
        <h2>Consola: {{ consola.producto.nombre }}</h2>
        <p><strong>Descripción:</strong> {{ consola.producto.descripcion }}</p>
        <p><strong>Precio:</strong> ${{ consola.producto.precio }}</p>
        <p><strong>Estado:</strong> {{ consola.producto.estado }}</p>
        <p><strong>Modelo:</strong> {{ consola.modelo }}</p>
        <p><strong>Color:</strong> {{ consola.color }}</p>
        <p><strong>Memoria:</strong> {{ consola.memoria }}</p>
        <p><strong>Vendedor:</strong> {{ consola.producto.vendedor.username }}</p>
        <ul class="list-group">
            {% for categoria in calzado.producto.categorias %}
                <li class="list-group-item">
                    {{ categoria.categoria.nombre }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
