{% extends "principal.html" %}

{% block contenido %}

{% load django_bootstrap5 %}

<form action="{% url 'producto_editar' producto.id %}" method="post"> 
    
    {% csrf_token %}

    <div class="mb-4">
        <label for="{{ formulario.nombre.id_for_label }}" class="form-label">{{ formulario.nombre.label }}: </label>
        <input name="{{ formulario.nombre.html_name }}" 
               type="text" 
               class="form-control {% if formulario.nombre.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}" 
               id="{{ formulario.nombre.id_for_label }}"
               maxlength="{{ formulario.nombre.field.max_length }}"
               {% if formulario.nombre.field.required %}
                   required
               {% endif %}
               value="{% spaceless %}
                      {% if formulario.is_bound %}
                          {{ formulario.nombre.value }}
                      {% elif producto %}
                          {{ formulario.nombre.value }}
                      {% endif %} 
                      {% endspaceless %}"
        />
        {% if formulario.nombre.help_text %}
        <div class="form-text">
            {{ formulario.nombre.help_text }}
        </div>
        {% endif %}
        <div class="invalid-feedback">
            {% for error in formulario.nombre.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        <label for="{{ formulario.descripcion.id_for_label }}" class="form-label">{{ formulario.descripcion.label }}: </label>
        <textarea name="{{ formulario.descripcion.html_name }}" 
                  class="form-control {% if formulario.descripcion.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}" 
                  id="{{ formulario.descripcion.id_for_label }}"
                  maxlength="100"
                  >{% spaceless %}
                        {% if formulario.is_bound%}
                            {{ formulario.descripcion.value }}
                        {% elif producto %}
                            {{ formulario.descripcion.value }}
                        {% endif %} 
                        {% endspaceless %}</textarea>
        <div class="invalid-feedback">
            {% for error in formulario.descripcion.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        <label for="{{ formulario.precio.id_for_label }}" class="form-label">{{ formulario.precio.label }}: </label>
        <input name="{{ formulario.precio.html_name }}" 
               type="number" 
               class="form-control {% if formulario.precio.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}" 
               id="{{ formulario.precio.id_for_label }}"
               value="{% spaceless %}
                        {% if formulario.is_bound %}
                            {{ formulario.precio.value }}
                        {% elif producto %}
                            {{ formulario.precio.value }}
                        {% endif %} 
                        {% endspaceless %}"
               {% if formulario.precio.field.required %}
                   required
               {% endif %}
               step="0.01" min="0"
        />
        <div class="invalid-feedback">
            {% for error in formulario.precio.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        <label for="{{ formulario.estado.id_for_label }}" class="form-label">{{ formulario.estado.label }}: </label>
        <select name="{{ formulario.estado.html_name }}" 
                id="{{ formulario.estado.id_for_label }}" 
                class="form-select {% if formulario.estado.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}">
            {% for estado_option in formulario.estado.field.choices %}
                <option value="{{ estado_option.0 }}" {% if formulario.estado.value == estado_option.0 %} selected {% endif %}>
                    {{ estado_option.1 }}
                </option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">
            {% for error in formulario.estado.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        <label for="{{ formulario.vendedor.id_for_label }}" class="form-label">{{ formulario.vendedor.label }}: </label>
        <select name="{{ formulario.vendedor.html_name }}" 
                id="{{ formulario.vendedor.id_for_label }}" 
                class="form-select {% if formulario.vendedor.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}">
            <option value="{{ producto.vendedor.id }}" selected>{{ producto.vendedor }}</option>
            {% for vendedor in vendedores %}
                <option value="{{ vendedor.id }}">{{ vendedor }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">
            {% for error in formulario.vendedor.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        <label for="{{ formulario.fecha_de_publicacion.id_for_label }}" class="form-label">{{ formulario.fecha_de_publicacion.label }}: </label>
        <input name="{{ formulario.fecha_de_publicacion.html_name }}" 
               type="date" 
               class="form-control {% if formulario.fecha_de_publicacion.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}" 
               id="{{ formulario.fecha_de_publicacion.id_for_label }}"
               value="{% spaceless %}
                        {% if formulario.is_bound %}
                            {{ formulario.fecha_de_publicacion.value }}
                        {% elif producto %}
                            {{ formulario.fecha_de_publicacion.value }}
                        {% endif %} 
                        {% endspaceless %}"
        />
        <div class="invalid-feedback">
            {% for error in formulario.fecha_de_publicacion.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        <label class="form-label" for="{{ formulario.categorias.id_for_label }}">
            {{ formulario.categorias.label }}
        </label>
        {% for categoria in categorias %}
            <div>
                <input type="checkbox" name="categorias" value="{{ categoria.id }}" 
                    {% if categoria in producto.categorias.all %} checked {% endif %}>
                {{ categoria.nombre }}
            </div>
        {% endfor %}
        <div class="invalid-feedback">
            {% for error in formulario.categorias.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Actualizar Producto</button>

</form>

{% endblock %}
