{% extends "principal.html" %}
{% block contenido %}
{% load django_bootstrap5 %}

<form action="{% url 'producto_buscar' %}" method="GET">
    {% csrf_token %}
    
    <div class="mb-4">
        {% bootstrap_field formulario.buscarNombre show_label=True %}
    </div>
    
    <div class="mb-4">
        {% bootstrap_field formulario.buscarDescripcion show_label=True %}
    </div>
    
    <div class="mb-4">
        {% bootstrap_field formulario.buscarPrecioMax show_label=True %}
    </div>
    
    <div class="mb-4">
        {% bootstrap_field formulario.buscarEstado show_label=True %}
    </div>
    
    {% if request.user.id == 1 or request.user.id == 2 %}
    <div class="mb-4">
        {% bootstrap_field formulario.buscarVendedor show_label=True %}
    </div>
    {% endif %}
    
    <div class="mb-4">
        {% bootstrap_field formulario.buscarFecha show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.buscarFecha.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
    
    <div class="mb-4">
        {% bootstrap_field formulario.buscarCategorias show_label=True %}
    </div>
    
    {% bootstrap_button "Buscar" button_type="submit" button_class="btn-primary" %}
</form>
{% endblock %}
