{% load django_bootstrap5 %}
{% bootstrap_css %}

<form action="{% url 'productos_crear'%}"  method="POST" method = "post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-4">
        {% bootstrap_field form.nombre show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field form.descripcion show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field form.precio show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field form.estado show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field form.fecha_de_publicacion show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field form.vendedor show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field form.categorias show_label=True %}
    </div>

    {% bootstrap_button "Guardar" button_type="submit" button_class="btn-primary" %}
</form>
