{% load django_bootstrap5 %}
{% bootstrap_css %}
{% for producto in productos %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Nombre: {{ producto.nombre }}</h2>
        <p class="card-text"><strong>Estado:</strong> {{ producto.estado}}</p>
        <p class="card-text"><strong>Precio:</strong> ${{ producto.precio }}</p>
        <p class="card-text"><strong>Descripción:</strong> {{ producto.descripcion }}</p>
        <p class="card-text"><strong>Fecha de publicación:</strong> {{ producto.fecha_de_publicacion}}</p>
    </div>
</div>
{% endfor %}
